.card {
    max-width: 370px;
    margin: 25px;
    display: inline-block;
    border-radius: 5px !important;
    background: rgba(250,250,250, 0.85);
    font-family: "flood-std",sans-serif; font-style: normal; font-weight: 400;
  }
  
.unlink{
  text-decoration: none;
}
  