<a routerLink="/events/1" class="unlink">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Cache Cache GEANT Ikea </mat-card-title>
      <mat-card-subtitle>Mardi 20 novembre 2018 | 3 - 6 PM</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <img mat-card-image src="/assets/img/ikea.jpg" alt="Ikea Event">
    <mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>
          <mat-icon>location_on</mat-icon>&nbsp;National
        </mat-chip>
        <mat-chip color="accent" selected>
          10 - 25&nbsp;
          <mat-icon>euro_symbol</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</a>

<a routerLink="/events/2" class="unlink">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Bataille d'OREILLERS </mat-card-title>
      <mat-card-subtitle>Mardi 6 avril 2019 | 3 - 6 PM</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <img mat-card-image src="/assets/img/pillow.jpg" alt="Pillow Battles">
    <mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>
          <mat-icon>location_on</mat-icon>&nbsp;National
        </mat-chip>
        <mat-chip color="accent" selected>
          10 - 25&nbsp;
          <mat-icon>euro_symbol</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</a>

<a routerLink="/events/1" class="unlink">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Cache Cache GEANT Ikea </mat-card-title>
      <mat-card-subtitle>Mardi 20 novembre 2018 | 3 - 6 PM</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <img mat-card-image src="/assets/img/ikea.jpg" alt="Ikea Event">
    <mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>
          <mat-icon>location_on</mat-icon>&nbsp;National
        </mat-chip>
        <mat-chip color="accent" selected>
          10 - 25&nbsp;
          <mat-icon>euro_symbol</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</a>

<a routerLink="/events/2" class="unlink">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Bataille d'OREILLERS </mat-card-title>
      <mat-card-subtitle>Mardi 6 avril 2019 | 3 - 6 PM</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <img mat-card-image src="/assets/img/pillow.jpg" alt="Pillow Battles">
    <mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>
          <mat-icon>location_on</mat-icon>&nbsp;National
        </mat-chip>
        <mat-chip color="accent" selected>
          10 - 25&nbsp;
          <mat-icon>euro_symbol</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</a>