#container {
  overflow-x:hidden;
  width:100%;
  position:relative;
  top:7vh;
  height:53vh;
}

#main {
  top:0;
}


.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

  }
  
  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  

  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .flex{
    flex:1;
  }

  .mat-drawer {
    background-color: rgba(250,250,250, 1);
  }

  .mat-drawer-container{
    background-color: none !important;

  }

  .mat-card-title{
   font-weight: lighter; 
  }

  .footer{
    margin-top:25px;
    display: block;
  }

  .footer p {
    margin-left:auto;
    margin-right:auto;  
    
  }

  mat-sidenav-container {
    display: flex;
    flex-direction: column;
    > *:not(router-outlet) {
      flex: 1;
      display: block;
    }
  }

  .align{
    display: flex;
    align-items: center;
  }

  img{
    width: 200px; 
  }

  a{
    outline: none !important;
  }