<div class="app-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="flex"></div>
    <div mat-card-avatar class="header-image"></div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
      [opened]="mobileQuery.matches ? false : false">
      <mat-nav-list>
        <a (click)="snav.toggle()" routerLink=".">
          <img src="/assets/img/logo.png">
        </a>
        <a mat-list-item (click)="mobileQuery.matches ? snav.toggle() : snav.toggle()" routerLink="/events">
          <button mat-stroked-button color="warn" class="button align">
              <mat-icon>event</mat-icon>&nbsp;&nbsp;Événement</button>
        </a>
        <a mat-list-item (click)="mobileQuery.matches ? snav.toggle() : snav.toggle()" routerLink="/cities">
          <button mat-stroked-button color="warn" class="button align">
              <mat-icon>location_city</mat-icon>&nbsp;&nbsp;Ville</button>
        </a>
        <a mat-list-item (click)="mobileQuery.matches ? snav.toggle() : snav.toggle()" routerLink="/ambassador">
          <button mat-stroked-button color="warn" class="button align">
              <mat-icon>accessibility_new</mat-icon>&nbsp;&nbsp;Ambassadeur</button>
        </a>
        <a mat-list-item (click)="mobileQuery.matches ? snav.toggle() : snav.toggle()" routerLink="/ranking">
          <button mat-stroked-button color="warn" class="button align">
              <mat-icon>format_list_numbered</mat-icon>&nbsp;&nbsp;Classement</button>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
      <app-canvas></app-canvas>
      <router-outlet></router-outlet>
      <footer class="footer">
        <mat-toolbar color="primary">
          <p>© 2018 - Les Étudiants De France</p>
        </mat-toolbar>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>