<h2 style="padding-bottom: 50px;">Trouve la communauté la plus proche de toi </h2>


<div >

  <mat-grid-list cols="{{totalColumn}}" rowHeight="50px" (window:resize)="onResize($event)">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a mat-stroked-button color="warn" class="button">Montpellier</a>
    </mat-grid-tile>
  </mat-grid-list>

</div>