<header class="event-header">
  <img mat-card-image src="/assets/img/ikea.jpg" alt="Ikea Event">
</header>
<mat-card class="card flex">
  <mat-card-header>
    <mat-card-title>Cache Cache GEANT Ikea </mat-card-title>
    <mat-card-subtitle>Mardi 20 novembre 2018 | 3 - 6 PM</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/img/ikea.jpg" alt="Ikea Event">
  <mat-card-content>
    <p>
      Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 ⏰...3...2...1....
      🗣J'ARRIVEEEEEEE !!!!!!!!!!!!!!!!!!!!!!!! Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée
      Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale
      de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance
      !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉
      Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de
      mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un
      Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache
      Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans
      IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour
      célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer
      la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée
      Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale
      de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance
      !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉
      Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de
      mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un
      Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache
      Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans
      IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour
      célébrer la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer
      la Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée
      Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale
      de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance
      !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉

    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Partager</button>
  </mat-card-actions>
</mat-card>