<div [ngStyle]="{ 'padding-top': paddingTop }">
  <header class="event-header">
    <img mat-card-image class="img-header" src="/assets/img/pillow.jpg" alt="Ikea Event">
  </header>
  <mat-card class="card flex">
    <mat-card-content>
      <mat-grid-list cols="{{totalColumn}}" rowHeight="{{rowHeight}}" (window:resize)="onResize($event)">
        <mat-grid-tile [colspan]="imgColumn" [rowspan]="imgRow">
          <img mat-card-image src="/assets/img/pillow.jpg" alt="Ikea Event">
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="socialColumn" [rowspan]="socialRow">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="facebook"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="socialColumn" [rowspan]="socialRow">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="twitter"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="socialColumn" [rowspan]="socialRow">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="instagram"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="socialColumn" [rowspan]="socialRow">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="messenger"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="socialColumn" [rowspan]="socialRow">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="email"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="socialColumn" [rowspan]="socialRow">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="copy"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="titleColumn" [rowspan]="1">
          <h2>Cache Cache Géant</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="infoColumn" [rowspan]="1">
          <mat-chip-list>
            <mat-chip color="accent" selected>
              <mat-icon>location_on</mat-icon>&nbsp;National
            </mat-chip>
            <mat-chip color="accent" selected>
              10 - 25&nbsp;
              <mat-icon>euro_symbol</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="dateColumn" [rowspan]="dateRow">
          <div class="info">
            <h3>Date et heure</h3>
            <span>20 novembre 2018</span>
            <span>20:00 - 3:00</span>
            <span>&nbsp;</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="adresseColumn" [rowspan]="adresseRow">
          <div class="info">
            <h3>Adresse</h3>
            <span>Hôtel Bedford</span>
            <span>17 rue de l'Arcade</span>
            <span>75008 Paris</span>
          </div>
        </mat-grid-tile>


        <mat-grid-tile class="button-row" [colspan]="2" [rowspan]="1">
          <button routerLink="join" mat-stroked-button color="warn" class="button">Faire la fête</button>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="totalColumn" [rowspan]="6">
          <div class="description">
            <p>
              Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la Journée Internationale de l'Enfance !!! 🎉 ⏰...3...2...1....
              🗣J'ARRIVEEEEEEE !!!!!!!!!!!!!!!!!!!!!!!! Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la
              Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la
              Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la
              Journée Internationale de l'Enfance !!! 🎉 Quoi de mieux qu'un Cache Cache Géant dans IKEA pour célébrer la
              Journée Internationale de l'Enfance FIN
            </p>
          </div>

        </mat-grid-tile>

        <mat-grid-tile class="card" [colspan]="1" [rowspan]="1">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="facebook"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="1" [rowspan]="1">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="twitter"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="1" [rowspan]="1">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="instagram"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="1" [rowspan]="1">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="messenger"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="1" [rowspan]="1">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="email"></mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="card" [colspan]="1" [rowspan]="1">
          <button mat-fab color="" class="button-share">
            <mat-icon class="size-mat-icon" svgIcon="copy"></mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile class="card" [colspan]="2" [rowspan]="1">
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card-content>

  </mat-card>
</div>