.card {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
} 

.mat-card{
    padding: 0px;
}
  
.event-header {
    position: absolute;
    top: 24px;
    width: 100%;
    z-index: -1;
    max-height: 10px;
}

.event-header img{
    -webkit-filter: blur(10px) brightness(0.8) ;
    -moz-filter: blur(10px)  brightness(0.8);
    -o-filter: blur(10px)  brightness(0.8);
    -ms-filter: blur(10px)  brightness(0.8);
    filter: blur(100px) brightness(1.0);
}

.border{
    border-style: solid;
    border-color: #D2D6DF;
    border-width: 1px 0;
}

.button{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
}

  .size-mat-icon {
    font-size: 56px;
    height: 56px;
    width: 56px;
    line-height: 56px;
  }
  
  .flex{
    flex:1;
  }

  :host /deep/ .mat-fab .mat-button-wrapper {
      padding: 0px;
  }

  .description{
      padding: 25px;
  }
