.card {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(250,250,250, 0.85);
} 

.mat-card{
    padding: 0px;
}
  
.event-header {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.img-header {
    max-height: 325px;
    margin-top: 0px !important;
}

.event-header img{
    -webkit-filter: blur(10px) brightness(0.8) ;
    -moz-filter: blur(10px)  brightness(0.8);
    -o-filter: blur(10px)  brightness(0.8);
    -ms-filter: blur(10px)  brightness(0.8);
    filter: blur(100px) brightness(1.0);
}

.border{
    border-style: solid;
    border-color: #D2D6DF;
    border-width: 1px 0;
}

  .size-mat-icon {
    font-size: 36px;
    height: 36px;
    width: 36px;
    line-height: 36px;
  }

  .button-share{
      width:36px;
      height:36px;
  }
  
  .flex{
    flex:1;
  }

  :host /deep/ .mat-fab .mat-button-wrapper {
      padding: 0px;
  }

  .description{
      padding: 25px;
  }

  .info span{
     display: block;
  }

  .info h3{
      margin-top: 10px;
      margin-bottom: 6px;
  }