<mat-card class="card flex">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field class="button" color="primary" appearance="outline">
                <mat-label for="firstName">Prénom</mat-label>
                <input matInput placeholder="Prénom" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                <mat-hint *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Un prénom est requis</div>
                </mat-hint>
            </mat-form-field>

        </div>
        <div>
            <mat-form-field class="button" color="primary" appearance="outline">
                <mat-label for="lastName">Nom</mat-label>
                <input matInput placeholder="Nom" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                <mat-hint *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Un nom est requis</div>
                </mat-hint>
            </mat-form-field>

        </div>
        <div>
            <mat-form-field class="button" color="primary" appearance="outline">
                <mat-label for="email">Adresse e-mail</mat-label>
                <input matInput placeholder="Adresse e-mail" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <mat-hint *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Une adresse e-mail est requise</div>
                </mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="button" color="primary" appearance="outline">
                <mat-label for="password">Mot de passe</mat-label>
                <input matInput placeholder="Mot de passe" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <mat-hint *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Un mot de passe est requis</div>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button mat-stroked-button class="button" color="warn">Register</button>
            <a mat-stroked-button class="button" color="warn" [routerLink]="['../login']">Cancel</a>
        </div>
    </form>
</mat-card>