<mat-card class="card flex">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field class="button" color="primary" appearance="outline">
                <mat-label for="email">Adresse e-mail</mat-label>
                <input matInput placeholder="Adresse e-mail" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <mat-hint *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Une adresse e-mail est requise</div>
                </mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="button" color="primary" appearance="outline">
                <mat-label for="password">Mot de passe</mat-label>
                <input matInput placeholder="Mot de passe" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <mat-hint *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Un mot de passe est requis</div>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button mat-stroked-button class="button" color="warn">Se connecter</button>
            <a mat-stroked-button class="button" color="warn" [routerLink]="['../register']">S'inscrire</a>
        </div>
    </form>
</mat-card>