@import './custom-theme.scss';

@import url('https://fonts.googleapis.com/css?family=Lato');


body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  overflow-x:hidden;
  width: 100%; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing:  border-box;
  box-sizing: border-box;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

body, html {
  height:100%;
}

.button{
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 5px !important;
}

p, h1, h2, h3, h4, span{
  font-family: 'Lato', sans-serif !important #212121;
}