@import './custom-theme.scss';

@import url("https://use.typekit.net/jku5qcj.css");

body { 
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

body, html {
  height:100%;
  font-family: "objektiv-mk3";
}

.button{
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 5px !important;
}


h1, h2, h3, h4{
  font-weight: normal;
}

p, span{
  font-weight: lighter;
}
