.center{
    padding-top: 50px; 
}

.title{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 6vw;
    margin-bottom: 6px;
    margin-top: 0;
}

.subtitle{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 5vw;
    margin-bottom: 6px;
    margin-top: 0;
}


.card {
    max-width: 370px;
    margin: 25px;
    display: inline-block;
    border-radius: 5px !important;
    background: rgba(250,250,250, 0.85);
    border: 3px groove rgba(250,250,250,0);
    border-spacing: 0;
  }

.card-img {
    max-width: 370px;
    margin: 25px;
    display: inline-block;
    border-radius: 5px !important;
    background:none !important;
    box-shadow:none !important;  
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 3px groove rgba(250,250,250,0);
    border-spacing: 0;

}


.video{
    margin-right: auto;
    margin-left: auto;
}

mat-card:hover {
    border-color:  #ef5350;
    cursor: pointer;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    padding: 0;
}

