<div class="center">
  <br>
  <br>
  <br>
  <h2 class="title red-medium-light">Prêt à faire</h2>
  <h2 class="title red-medium-light"> la fête ?</h2>

  <mat-card class="card-box">
    <mat-card-title class="red card-title">Célébrer</mat-card-title>
    <img mat-card-image src="/assets/img/celebrate.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="card-box">
    <mat-card-title class="red card-title">S'éclater</mat-card-title>
    <img mat-card-image src="/assets/img/fun.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="card-box">
    <mat-card-title class="red card-title">Plaisir</mat-card-title>
    <img mat-card-image src="/assets/img/party.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <br>
  <br>
  <br>
  <h2 class="title red">Vous êtes au bonne endroit !!! </h2>

  <br>
  <br>
  <br>
  <div align="center">
    <iframe height="425px;" width="75%" src="https://www.youtube.com/embed/Lij6nT_MezI?rel=0&amp;controls=1&amp;showinfo=0&autoplay=1&vq=highres&mute=1"
      frameborder="0" allow="autoplay; encrypted-media" class="video">
    </iframe>
  </div>

  <br>
  <br>
  <br>
  <h2 class="title red-light">Nos évenements</h2>

  <br>
  <br>
  <br>

  <a routerLink="/events/1" class="unlink">
    <mat-card class="card-box">
      <mat-card-header>
        <mat-card-title>Cache Cache GEANT Ikea </mat-card-title>
        <mat-card-subtitle>Mardi 20 novembre 2018 | 3 - 6 PM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <img mat-card-image src="/assets/img/ikea.jpg" alt="Ikea Event">
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip color="accent" selected>
            <mat-icon>location_on</mat-icon>&nbsp;National
          </mat-chip>
          <mat-chip color="accent" selected>
            10 - 25&nbsp;
            <mat-icon>euro_symbol</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </a>
  
  <a routerLink="/events/2" class="unlink">
    <mat-card class="card-box">
      <mat-card-header>
        <mat-card-title>Bataille d'OREILLERS </mat-card-title>
        <mat-card-subtitle>Mardi 6 avril 2019 | 3 - 6 PM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <img mat-card-image src="/assets/img/pillow.jpg" alt="Pillow Battles">
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip color="accent" selected>
            <mat-icon>location_on</mat-icon>&nbsp;National
          </mat-chip>
          <mat-chip color="accent" selected>
            10 - 25&nbsp;
            <mat-icon>euro_symbol</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </a>
  
  <a routerLink="/events/1" class="unlink">
    <mat-card class="card-box">
      <mat-card-header>
        <mat-card-title>Cache Cache GEANT Ikea </mat-card-title>
        <mat-card-subtitle>Mardi 20 novembre 2018 | 3 - 6 PM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <img mat-card-image src="/assets/img/ikea.jpg" alt="Ikea Event">
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip color="accent" selected>
            <mat-icon>location_on</mat-icon>&nbsp;National
          </mat-chip>
          <mat-chip color="accent" selected>
            10 - 25&nbsp;
            <mat-icon>euro_symbol</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </a>


  <br>
  <br>
  <br>

  <h2 class="title red-medium-dark">Devenez ambassadeur</h2>

  <br>
  <br>
  <mat-card class="card-box">
    <img mat-card-image src="/assets/img/cash.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="card-box">
    <img mat-card-image src="/assets/img/fun.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="card-box">
    <img mat-card-image src="/assets/img/party.jpg" alt="Photo of a Shiba Inu">
  </mat-card>
  <br>
  <br>
  <br>
  <br>

  <h2 class="title red-medium-light">Nos Partenaires</h2>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h2 class="title red-light">Il parle de nous</h2>

</div>



<!-- 

 -->