.center{
    padding-top: 50px; 
}

.title{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 6vw;
    margin-bottom: 6px;
    margin-top: 0;
}

.subtitle{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 4vw;
    margin-bottom: 6px;
    margin-top: 0;
}

.red-medium-dark{
color:#F46F5E;
}

.red-medium-light{
    color:#F89284;
}

.red-light{
    color:#F9B3AA;
}

.red{
    color:#ef5350;
}



