<div class="center">
  <h2 class="title red-medium-dark">Bienvenue</h2>

  <br>
  <br>
  <br>
  <h2 class="subtitle red-medium-light">Prêt à faire la fête ?</h2>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h2 class="title red">Qui sommes-nous ?</h2>

  <iframe height="525px;" width="100%" src="https://www.youtube.com/embed/Lij6nT_MezI?rel=0&amp;controls=1&amp;showinfo=0&autoplay=1&vq=highres&mute=1"
  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
</iframe>
<br><br><br>
  <h2 class="title red-light">Nos évenements</h2>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h2 class="title red-medium-dark">Devenez ambassadeur</h2>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h2 class="title red-medium-light">Nos Partenaires</h2>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h2 class="title red-light">Il parle de nous</h2>

</div>



<!-- 

 -->


