<div class="center">
<section>
  <h2 class="title" style="z-index: 10; color: aliceblue">Prêt à faire</h2>
  <h2 class="title"> la fête ?</h2>


  <div class="background" style="z-index: -1;">
    <iframe height="100%;" width="100%" src="https://www.youtube.com/embed/Lij6nT_MezI?rel=0&amp;controls=1&amp;showinfo=0&autoplay=1&vq=highres"
      frameborder="0" allow="autoplay; encrypted-media" class="video">
    </iframe>
  </div>

</section>
<section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  


  <br>
  <br>
  <br>
  </section>
  <h2 class="title">Vous êtes au bon endroit</h2>
  
  <mat-card class="card-img" routerLink="/events">
    <img mat-card-image src="/assets/img/events.jpg" alt="events">
  </mat-card>


  <mat-card class="card-img"  routerLink="/cities">
    <img mat-card-image src="/assets/img/city.jpg" alt="city">
  </mat-card>

  <mat-card class="card-img" routerLink="/events">
    <img mat-card-image src="/assets/img/party.jpg" alt="events">
  </mat-card>

  <br>
  <br>
  <br>
  <h2 class="title">Nos évenements</h2>

    <mat-card class="card" routerLink="/events/1">
      <mat-card-header>
        <mat-card-title>Cache Cache GEANT Ikea </mat-card-title>
        <mat-card-subtitle>Mardi 20 novembre 2018 | 3 - 6 PM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <img mat-card-image src="/assets/img/ikea.jpg" alt="Ikea Event">
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip color="accent" selected>
            <mat-icon>location_on</mat-icon>&nbsp;National
          </mat-chip>
          <mat-chip color="accent" selected>
            10 - 25&nbsp;
            <mat-icon>euro_symbol</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="card" routerLink="/events/2">
      <mat-card-header>
        <mat-card-title>Bataille d'OREILLERS </mat-card-title>
        <mat-card-subtitle>Mardi 6 avril 2019 | 3 - 6 PM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <img mat-card-image src="/assets/img/pillow.jpg" alt="Pillow Battles">
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip color="accent" selected>
            <mat-icon>location_on</mat-icon>&nbsp;National
          </mat-chip>
          <mat-chip color="accent" selected>
            10 - 25&nbsp;
            <mat-icon>euro_symbol</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="card" routerLink="/events/3">
      <mat-card-header>
        <mat-card-title>Cache Cache GEANT Ikea </mat-card-title>
        <mat-card-subtitle>Mardi 20 novembre 2018 | 3 - 6 PM</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <img mat-card-image src="/assets/img/ikea.jpg" alt="Ikea Event">
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip color="accent" selected>
            <mat-icon>location_on</mat-icon>&nbsp;National
          </mat-chip>
          <mat-chip color="accent" selected>
            10 - 25&nbsp;
            <mat-icon>euro_symbol</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>


  <br>
  <br>
  <br>


  <h2 class="title">Dans toutes la france</h2>
  <mat-card class="card-img" routerLink="/cities">
    <img mat-card-image src="/assets/img/city.jpg" alt="city">
  </mat-card>


  <br>
  <br>
  <br>


  <h2 class="title">Devenez ambassadeur</h2>

  <mat-card class="card-img" routerLink="/ambassador">
    <img mat-card-image src="/assets/img/cash.jpg" alt="Gagner de l'argent">
  </mat-card>

  <mat-card class="card-img" routerLink="/ambassador">
    <img mat-card-image src="/assets/img/amuser.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="card-img" routerLink="/ambassador">
    <img mat-card-image src="/assets/img/reunir.jpg" alt="Réunissez vous">
  </mat-card>
  <br>
  <br>
  <br>
  <br>
<!-- 
  <h2 class="title">Nos Partenaires</h2>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h2 class="title">Il parle de nous</h2> -->

</div>



